.project-page{
    margin-top: -10%;

    .card-project{
        margin: 2% 2%;
        display:flex;
        right: 10%;
        position: absolute;
        left: 12%;

        .card{
            color: white;
            width: 100%;
            background: #1f1f1f;
            margin: 1% 1%;
            margin-top:36%;
            border: 1px solid rgba(24,24,24, 0.4);

        }
    }

}

@media screen and (max-width:568px){
    .project-page{
        overflow: scroll;
        position: fixed;

        .mob-text-zone{
            position: fixed;
        }
    
    
    .card-project{
        display: inline-block;
        padding-top: 95%;
        margin: 1% 1%;
        width: 70%;

        .card{
            top: 80%;
            bottom: 10px;
        }
    }
}




}