.project-page{
    margin-top: -10%;

    .card-project{
        margin: 2% 2%;
        display:flex;
        right: 10%;
        position: absolute;
        left: 12%;

        .card{
            color: white;
            width: 100%;
            background: #1f1f1f;
            margin: 1% 1%;
            margin-top:36%;
            border: 1px solid rgba(24,24,24, 0.4);

        }
    }

}

@media screen and (max-width:568px){
    .project-page{
        overflow: scroll;
        position: fixed;

        .mob-text-zone{
            position: fixed;
        }
        top: -75px;
    
    
    .card-project{
        display: inline-block;
        margin-top: 98%;
        bottom: 50px;
        margin: 1% 1%;
        width: 85%;
        max-height: 30%;
        left: 23px;

        .card{
            margin-top: 25%;
        }
    }
}




}