.logo-container{
    z-index: 0;
    width: 600px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 5%;
    bottom: 0;

    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 1;
        z-index: 1;
    }
}

@media screen and (max-width:580px){
    .logo-container{
        display: none;
    }
}
