.contact-form {
    width: 100%;
    margin-top: 20px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: white;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
      border: 1px solid rgba(24,24,24, 0.4);
    }
  
    textarea {
      width: 100%;
      border: 0;
      border: 1px solid rgba(24,24,24, 0.4);
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
      resize: vertical;
    }
  
    .flat-button {
      color: white;
      font-size: 25px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 0;
      margin-left: 38%;
      border-radius: 4px;
      background:#181818;
      text-transform: uppercase;
      text-align: center;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  


  
  @media screen and (max-width: 1200px) {
    .map-wrap {
      float: none;
      margin: 0;
      width: 100%;
      height: 400px;
    }
    
    .info-map {
      display: none;
    }
}

@media screen and (max-width: 500px) {
  .contact-form {
    width: 100%;
    margin-top: 20px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 100%;

      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
    }

  
    .flat-button {
      margin-left: 32%;
      text-align: center;
    }
  }

}